{% extends "todolist/html/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Account registration{% endblock %}

{% block content %}
    <form method="POST" class=form-group">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Register</button>
    </form>
{% endblock %}