<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
<!-- Bootstrap NavBar -->
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Our To-Do List App</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <!-- left -->
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/lists">Home</a>
                        </li>
                      </ul>
                      <!-- Right -->
                      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                        {% if  user.is_authenticated %}
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                          </li>
                        {% else %}
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">Login</a>
                          </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
            </nav>
        </div>

        <div class="container" id="content", name="content">
            {% block content %}
            {% endblock %}

        </div>
    </body>
</html>